{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/c1.css' %}">
</head>
<body>
    <center>
        <h1>Minute-milad is my favourite drink</h1>
        <img src="{% static 'images/wm.jpg' %}" alt="No Image" height="300px" width="300px">
        <img src="{% static 'images/orange.jpg' %}" alt="No Image" height="300px" width="300px">
        <h1><a href="{% url 'app1:food' %}">Back to food</a></h1>
        <h1><a href="{% url 'app2:clothes' %}">Back to clothes</a></h1>
        <h1><a href="{% url 'app2:shoes' %}">Back to shoes</a></h1>
    </center>
</body>
</html>